.btn-add-task {
  border: none;
  background-color: #00a3e1;
  font-size: 16px;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  position: relative;
}
.btn-add-task:hover {
  background-color: #4cc9fa;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
}

.btn-add-task:after,
.btn-add-task:before {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-add-task:before {
  height: 1em;
  width: 0.1em;
}

.btn-add-task:after {
  height: 0.1em;
  width: 1em;
}

.btn-add-task {
  font-size: 22px;
}
